body {font-family: arial;}
h2 {margin: 0; text-align: center;}

header {
    background-color:black;
    color: white;
    font-size: 42px;
    text-align: center;
    border-radius: 20px 20px 0px 0px;  
}

header p, nav {
    margin: 0;
}

nav {
    background-color: gray;
    color: white;
    font-size: 20px;
    text-align: left;
} 

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block; /* 각 요소를 인라인 블록으로 한 줄에 배치 */
    padding: 15px 20px; /* 위쪽, 아래쪽 15px, 좌우 20px */
}

nav ul li :hover {
    background :white; color: black;
}

nav ul a {
    color: white;
    text-decoration-line: none;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

#home {
    background-color: mistyrose;
    padding : 10px;
    text-align: center;
}


.mondrian {
    width: 600px;
    height: 600px;
    background-color: black;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 0px 0px 20px yellowgreen;
    
}

.mondrian div {
    position: absolute;
}

.white-box {
    width: 160px;
    height: 50px;
    background-color: white;
    top: 10px;
    left: 10px;
}

.white-box-2 {
    width: 230px;
    height: 50px;
    background-color: white;
    top: 10px;
    left: 180px;
}

.yellow-box {
    width: 170px;
    height: 50px;
    background-color: yellow;
    top: 10px;
    left: 420px;
}

.white-box-3 {
    width: 50px;
    height: 300px;
    background-color: white;
    top: 70px;
    left: 10px;
}

.red-box {
    width: 270px;
    height: 300px;
    background-color: red;
    top: 70px;
    left: 70px;
}

.yellow-box-2 {
    width: 115px;
    height: 100px;
    background-color: yellow;
    top: 70px;
    left: 350px;
}

.white-box-4 {
    width: 115px;
    height: 100px;
    background-color: white;
    top: 70px;
    left: 475px;
}

.blue-box {
    width: 240px;
    height: 190px;
    background-color: blue;
    top: 180px;
    left: 350px;
}

.blue-box-2 {
    width: 330px;
    height: 210px;
    background-color: blue;
    top: 380px;
    left: 10px;
}

.white-box-5 {
    width: 240px;
    height: 210px;
    background-color: white;
    top: 380px;
    left: 350px;
}


footer a {
    color: inherit;
}

footer a:visited {
    color: yellowgreen;
}