body {font-family: arial;}
h2 {margin: 0;
    text-align: center;
    text-shadow: 3px 3px 3px gray;
}

header {
    background-color:black;
    color: white;
    font-size: 42px;
    text-align: center;
    border-radius: 20px 20px 0px 0px;
}

@keyframes textSizeChange {
    0% {color: blue;}
    50% {color: green;}
    100% {color: red;}
}

header p {
    animation: textSizeChange;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    margin: 0;
}

header nav {
    background-color: gray;
    color: white;
    font-size: 20px;
    text-align: left;
    font-style: italic;
    margin: 0;
} 

nav ul {
    margin: 0;
}

nav ul li {
    display: inline-block; /* 각 요소를 인라인 블록으로 한 줄에 배치 */
    padding: 15px 52px; /* 위쪽, 아래쪽 15px, 좌우 20px */
}

nav ul a {
    color: white;
    text-decoration-line: none;
}

nav ul li :hover {
    color: black;
    font-weight: normal;
    background-color: #ddd;
    transition: background-color 1s;
    padding: 15px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

#home{
    background-color: mistyrose;
    padding : 10px;
    text-align: center;
}

.youtube-video {
    width: 560px;
    height: 315px;
}

.profile_box{
    border: 1px solid black;
    width: 200px;
    padding: 10px;
    margin : 20px;
    background-color: lightgreen;
    text-align: center;
    
    margin-left : auto;
    margin-right : auto;
    font-weight: bold;
    font-size: 20px;
}

.profile_box p{
    margin: 0 auto;
}

#white {
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: border-radius 0.5s;
}

.profile_box:hover {
    background-color: #f0f0f0;
    transform: scale(1.1); /* Increase box size by 10% on hover */
}


.timetable {
    border: 1px solid black;
    width: 700px;
    table-layout: fixed;
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
}

.timetable thead {
    background-color: #f97794;
}

.timetable thead th {
    font-size: 20px; 
    border: 1px dashed black;
}

.timetable tbody tr:nth-child(odd) {
    background-color: lightgray;
}

.timetable tbody td {
    border: 1px dashed black;
}


#UserDataSubmission .input-field {
    border: 2px solid skyblue;
    border-radius: 5px;
}

#UserDataSubmission .input-field:focus {
    background-color: aliceblue;
    color: blue;
}

.bottom {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: white;
    padding-bottom: 10px;
    padding-right: 10px;
    background-image: linear-gradient(#f97794, #623AA2);
}

.bottom a {
    color: inherit;
}

.bottom a:visited {
    color: yellowgreen;
}